.container {
    width: 600px;
    height: 200px; 
    margin: 30px auto;
    border: 5px solid black;
    padding: 5px;
    box-sizing: border-box;
    display: flex; 
    /* flex-direction: row-reverse; */
    /* flex-wrap: wrap; */
    /* justify-content: space-evenly; */
    align-items: stretch;
}

.container div {
    /* width: 120px;
    height: 120px; */
    background-color: #ccc;
    margin: 2px;
    flex: 1;
}

.container div.item1 {
    flex: 2;
    align-self: flex-end;
}

